:root {
  /* Node State Colors */
  --node-color-idle: #ffffff;
  --node-color-idle-border: #000000;
  --node-color-idle-text: #000000;

  --node-color-hovered: #f0f7ff;
  --node-color-hovered-border: #7c7c7c;
  --node-color-hovered-text: #1e40af;

  --node-color-selected: #dbeafe;
  --node-color-selected-border: #1d4ed8;
  --node-color-selected-text: #1e3a8a;

  --node-color-loading: #fef3c7;
  --node-color-loading-border: #f59e0b;
  --node-color-loading-text: #92400e;

  --node-color-success: #d1fae5;
  --node-color-success-border: #10b981;
  --node-color-success-text: #065f46;

  --node-color-error: #fee2e2;
  --node-color-error-border: #ef4444;
  --node-color-error-text: #991b1b;

  --node-color-warning: #fed7aa;
  --node-color-warning-border: #f97316;
  --node-color-warning-text: #9a3412;

  --node-color-unsaved-edits:  #BF912F;
  
  --node-color-close-fill: #ef4444;

  --node-border-width: 1px;

  --node-font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --node-font-family-mono: 'Geist Mono', 'Courier New', Courier, monospace;
  --node-font-size: 14px;
  --node-font-weight-light: 300;
  --node-font-weight-regular: 400;
  --node-font-weight-medium: 500;
  --node-font-weight-semibold: 600;

  --node-font-size-h1: 20px;
  --node-font-size-p: 13px;

  --node-transition-duration: 100ms;
  --node-transition-timing: ease-in-out;
}

