.node {
  cursor: pointer;
}

.nodeRect {
  fill: var(--node-color-idle);
  stroke: var(--node-color-idle-border);
  stroke-width: var(--node-border-width);
}

.errorRect {
  fill: var(--node-color-error);
  stroke: var(--node-color-error-border);
  stroke-width: var(--node-border-width);
}

.warningRect {
  fill: var(--node-color-warning);
  stroke: var(--node-color-warning-border);
  stroke-width: var(--node-border-width);
}

.nodeText {
  fill: var(--node-color-idle-text);
  font-family: var(--node-font-family);
  font-size: var(--node-font-size);
  font-weight: var(--node-font-weight-regular);
}

.h1 {
  fill: var(--node-color-idle-text);
  font-family: var(--node-font-family);
  font-size: var(--node-font-h1);
  font-weight: var(--node-font-weight-semibold);
}

.p {
  fill: var(--node-color-idle-text);
  font-family: var(--node-font-family);
  font-size: var(--node-font-size-p);
  font-weight: var(--node-font-weight-regular);
}

.codeText {
  font-family: var(--node-font-family-mono);
  font-size: var(--node-font-size-p);
}

.node:hover .nodeRect,
.node {
  fill: var(--node-color-hovered);
  stroke: var(--node-color-hovered-border);
}

.node:hover .nodeText {
  fill: var(--node-color-hovered-text);
}

/* State: Selected */
.node.selected .nodeRect {
  fill: var(--node-color-selected);
  stroke: var(--node-color-selected-border);
  stroke-width: calc(var(--node-border-width) + 1px);
}

.node.selected .nodeText {
  fill: var(--node-color-selected-text);
  font-weight: var(--node-font-weight-semibold);
}

/* State: Loading */
.node.loading .nodeRect {
  fill: var(--node-color-loading);
  stroke: var(--node-color-loading-border);
}

.node.loading .nodeText {
  fill: var(--node-color-loading-text);
  font-weight: var(--node-font-weight-medium);
}

/* State: Success */
.node.success .nodeRect {
  fill: var(--node-color-success);
  stroke: var(--node-color-success-border);
}

.node.success .nodeText {
  fill: var(--node-color-success-text);
  font-weight: var(--node-font-weight-medium);
}

/* State: Error */
.node.error .nodeRect {
  fill: var(--node-color-error);
  stroke: var(--node-color-error-border);
}

.node.error .nodeText {
  fill: var(--node-color-error-text);
  font-weight: var(--node-font-weight-semibold);
}

/* State: Warning */
.node.warning .nodeRect {
  fill: var(--node-color-warning);
  stroke: var(--node-color-warning-border);
}

.node.warning .nodeText {
  fill: var(--node-color-warning-text);
  font-weight: var(--node-font-weight-medium);
}
