@keyframes pulsateLoading {
  0%,
  100% {
    fill: var(--node-color-loading);
  }
  50% {
    fill: var(--node-color-loading-light);
  }
}

.node {
  cursor: pointer;
}

.nodeRect {
  stroke-width: var(--node-border-width);
  transition: fill var(--node-transition-duration) var(--node-transition-timing),
    stroke var(--node-transition-duration) var(--node-transition-timing);
}

.nodeRectLoading {
  transition: fill var(--node-transition-duration) var(--node-transition-timing);
  animation: pulsateLoading 2s ease-in-out infinite;
}

.nodeRectOutline {
  stroke-width: calc(var(--node-border-width) + 2px);
  transition: stroke-opacity var(--node-transition-duration)
    var(--node-transition-timing);
  pointer-events: none;
}

.errorRect {
  fill: var(--node-color-error);
  stroke: var(--node-color-error-border);
  stroke-width: var(--node-border-width);
}

.warningRect {
  fill: var(--node-color-warning);
  stroke: var(--node-color-warning-border);
  stroke-width: var(--node-border-width);
}

.nodeText {
  fill: var(--node-color-idle-text);
  font-family: var(--node-font-family);
  font-size: var(--node-font-size);
  font-weight: var(--node-font-weight-regular);
}

.warningText {
  fill: var(--node-color-warning-text);
  font-family: var(--node-font-family-mono);
  font-size: var(--node-font-size-p);
}

.errorText {
  fill: var(--node-color-error-text);
  font-family: var(--node-font-family-mono);
  font-size: var(--node-font-size-p);
}

.h1 {
  fill: var(--node-color-idle-text);
  font-family: var(--node-font-family);
  font-size: var(--node-font-h1);
  font-weight: var(--node-font-weight-semibold);
}

.p {
  fill: var(--node-color-idle-text);
  font-family: var(--node-font-family);
  font-size: var(--node-font-size-p);
  font-weight: var(--node-font-weight-regular);
}

.codeText {
  font-family: var(--node-font-family-mono);
  font-size: var(--node-font-size-p);
}
